<div class="container">
	<div class="row">
		<div class="col-8 offset-2">
			<% i = 0 %>
			<% @rooms.each do |room| %>
			<p>ルーム番号<%= room.id %></p>
    				<%= attachment_image_tag @allEntry[i], :image, :fill, 50, 50, format:'jpeg', fallback: "no_image.jpeg", size:'50×50' %>
    				<%= @allEntry[i].name %>
    				<% i+= 1 %>
  				    
    				<%= attachment_image_tag @allEntry[i], :image, :fill, 50, 50, format:'jpeg', fallback: "no_image.jpeg", size:'50×50' %>
    				<%= @allEntry[i].name %>
    				<% i+= 1 %>
    				<%= link_to '詳細へ', admin_room_path(room) %>
			<% end %>
			    <!--% @entries.each do |entry| %--> 
			        
			    <!--% end %-->
			<!--% end %-->
		</div>
	</div>
</div>