<div class="container">
    <div class="row">
        <div class="col-10 offset-1">
            <h1>通報された投稿一覧</h1>
                    <% if @reports.present? %>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th class="th-userinfo">投稿ユーザー情報</th>
                                    <th class="th-post-body">本文</th>
                                    <th>通報内容</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% @reports.each do |report| %>
                                    <% post = Post.find_by(id:report.post_id) %>
                                    <tr>
                                      	<td>
                                            <%= attachment_image_tag post.user, :image, :fill, 50, 50, format:'jpeg', fallback: "no_image.jpg", size:'50×50' %>
                                            <%= link_to post.user.name, admin_user_path(post.user.id) %>
                                            <i class="fa fa-commenting-o" aria-hidden="true"><%= post.comments.count %></i>
                                            <i class="fas fa-paw" aria-hidden="true" style="color: red;"><%= post.favorites.count %></i>
                                        </td>
                                        <td class="td-post-body">
                                            <%= link_to post.body, admin_post_report_path(post.id) %>
                                            <% post.post_images.each do |post_image| %>
                                                <%= attachment_image_tag post_image, :image, :fill, 100, 100, format:'jpeg' , fallback: "no_image.jpg", size:'50×50' %>
                                            <% end %>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <%= report.report_message %>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><%= link_to "不適切な投稿として削除する", admin_post_reports_hide_path(report.id), method: :put, "data-confirm" =>"本当に消しますか?" ,class: "btn btn-sm btn-danger pull-right" %>
                                        </td>
                                    </tr>
                                <% end %>
                            </tbody>
                        </table>
                    <% else %>
                        <p>現在、通報されている投稿はありません。</p>
                    <% end %>
        </div>
    </div>
</div>


