  <section class="container">
  <table class="table table-responsive">
    <tbody>
      <section class="container-index">
        <div class="row">
          <h1>通報された投稿一覧</h1>
        <div class="row">
          <% @reports.each do |report| %>
          <% post = Post.find_by(id:report.post_id) %>
          <tr>
          	<td><%= attachment_image_tag post.user, :image, :fill, 50, 50, format:'jpeg', fallback: "no_image.jpeg", size:'50×50' %> </td>
            <td><%= link_to post.user.name, user_user_path(post.user.id) %></td>
            <td><%= link_to post.body, user_post_path(post.id) %></td>
              <% post.post_images.each do |post_image| %>
                <td><%= attachment_image_tag post_image, :image, :fill, 50, 50, format:'jpeg' , fallback: "no_image.jpeg", size:'50×50' %> </td>
              <% end %>
            <td><%= link_to "#{post.comments.count} コメント", user_post_path(post.id) %><%= link_to "#{post.favorites.count}いいね！", user_post_path(post.id) %></td>
            <td><h6>通報内容</h6><%= report.report_message %></td>
            <td><%= link_to "不適切な投稿として削除する", admin_post_reports_hide_path(report.id), method: :put, "data-confirm" =>"本当に消しますか?" ,class: "btn btn-sm btn-danger pull-right" %></td>
          </tr>
          <% end %>
    </tbody>
  </table>
  </div>
</section>
