<% content_for :mypage do %>
		  <p class="navbar-text navbar-right">
		    <%= current_user.name %>さんのマイページです。
		  </p>

	<div id="nav-drawer">
      <input id="nav-input" type="checkbox" class="nav-unshown">
      <label id="nav-open" for="nav-input"><span></span></label>
      <label class="nav-unshown" id="nav-close" for="nav-input"></label>
      <div id="nav-content">
      	<ul>
		    <li class="fas fa-cat"><%= link_to 'TOPページ', user_posts_path %></li>
		    <li class="fas fa-cat"><%= link_to 'マイページTOP', user_user_path(current_user.id) %></li>
		    <li class="fas fa-cat"><%= link_to 'DM一覧', user_rooms_path %></li>
		    <li class="fas fa-cat"><%= link_to '自分のいいね', user_favorites_path %></li>
		    <li class="fas fa-cat"><%= link_to 'にゃんこメモ', user_reminders_path %></li>
		    <li class="fas fa-cat"><%= link_to "フォロー", follows_user_user_path(current_user.id)%></li>
		    <li class="fas fa-cat"><%= link_to 'フォロワー', followers_user_user_path(current_user.id) %></li>
		</ul>
      </div>
    </div>
<% end %>