<% content_for :mypage do %>
  <nav class="nav navbar-nav navbar-left">
    <a href="/" class="btn-circle-fishy">cattalk</a>
  </nav>
	<div class="nav navbar-right">
		<div>
		  <%= link_to 'マイページTOP', user_user_path(@user.id), class: "btn-primary", style: "margin-left: 20px; margin-top: 33px;" %>
		</div>
		<div>
		  <%= link_to 'DM', user_rooms_path, class: "btn-primary", style: "margin-left: 20px; margin-top: 33px;" %>
		</div>
		<div>
		  <%= link_to '新規投稿する', new_user_post_path, class: "btn-primary", style: "margin-left: 20px; margin-top: 33px;" %>
		</div>
		<div>
		  <%= link_to 'ねこ新規登録', new_user_cat_path(current_user.id), class: "btn-dark", style: "margin-left: 20px; margin-top: 33px;" %>
		</div>
		<div>
		  <%= link_to '自分のいいね', user_favorites_path, class: "btn-info", style: "margin-left: 5px; margin-top: 33px;" %>
		</div>
		<div>
		  <%= link_to 'にゃんこメモ', user_reminders_path, class: "btn-warning", style: "margin-left: 5px; margin-top: 33px;" %>
		</div>
		<div>
		  <%= link_to "フォロー", follows_user_user_path(@user.id), class: "btn-success", style: "margin-left: 5px; margin-top: 33px;" %>
		</div>
		<div>
		   <%= link_to 'フォロワー', followers_user_user_path(@user.id), class: "btn-danger", style: "margin-left: 5px; margin-top: 33px;" %>
		</div>
		<br>
		  <p class="navbar-text navbar-right">
		    <%= @user.name %>さんのマイページです。
		  </p>
	</div>
<% end %>