<div class="container">
	<div class="row">
		<%= form_for(user, url:user_user_path(current_user.id) ,method: :patch) do |f| %>
			<table class="table table-striped">
				<tr>
					<td>プロフィール画像</td>
					<td><%= attachment_image_tag user, :image, format: 'jpeg',fallback: "no_image.jpg", size: "100x100" %><%= f.attachment_field :image, placeholder: "プロフィール画像", class: "user-edit-form" %></td>
				</tr>
				<tr>
					<td>アカウント名</td>
					<td><%= f.text_field :name %></td>
				</tr>
				<tr>
					<td>メールアドレス</td>
					<td><%= f.text_field :email %></td>
				</tr>
				<tr>
					<td><%= f.label :都道府県 %></td>
					<td><%= f.select :prefectures, User.prefectures.keys, class: 'btn btn-default' %></td>
				</tr>
				<tr>
					<td>お住まい市町村</td>
					<td><%= f.text_field :cities , placeholder: "〜市、〜町" %></td>
				</tr>
				<tr>
					<td>自己紹介文</td>
					<td><%= f.text_area :introduce, placeholder: "未設定" %></td>
				</tr>
			</table>
		<%= f.submit '編集する' ,class: 'btn btn-warning' %>
		<% end %>
	</div>
</div>