<h3>ユーザー編集</h3>
<%= form_for(@user, url:user_user_path(current_user.id) ,method: :patch) do |f| %>
	<p>プロフィール画像</p><%= attachment_image_tag @user, :image, format: 'jpeg',fallback: "no_image.jpg", size: "100x100" %>
	<%= f.attachment_field :image, placeholder: "プロフィール画像", class: "user-edit-form" %>
	<p>アカウント名</p><%= f.text_field :name %>
	<p>メールアドレス</p><%= f.text_field :email %>
	<p>お住まい地域</p><%= f.text_field :prefectures %>
	<p>お住まい市町村</p><%= f.text_field :cities %>
	<p>自己紹介文</p><%= f.text_area :introduce %>
  <%= f.fields_for :cats do |cat| %>
    <%= render "cat_fields", f: cat %>
  <% end %>
    <div class="links">
      <%= link_to_add_association "追加", f, :cats %>
    </div>
<%= f.submit '編集する' %>
<% end %>