<div class="container">
<% content_for :mypage do %>
  <nav class="nav navbar-nav navbar-left">
    <a href="/" class="btn-circle-fishy">cattalk</a>
  </nav>
	<div class="nav navbar-right">
		<div>
		  <%= link_to '新規投稿する', new_user_post_path, class: "btn-primary", style: "margin-left: 20px; margin-top: 33px;" %>
		</div>
		<div>
		  <%= link_to 'ねこ新規登録', new_user_cat_path(current_user.id), class: "btn-dark", style: "margin-left: 20px; margin-top: 33px;" %>
		</div>
		<div>
		  <%= link_to '自分のいいね', user_favorites_path, class: "btn-info", style: "margin-left: 5px; margin-top: 33px;" %>
		</div>
		<div>
		  <%= link_to 'にゃんこメモ', user_user_reminders_path(current_user.id), class: "btn-warning", style: "margin-left: 5px; margin-top: 33px;" %>
		</div>
		<div>
		<%= link_to "フォロー", follows_user_user_path(current_user.id), class: "btn-success", style: "margin-left: 5px; margin-top: 33px;" %>
		</div>
		<div>
		  <%= link_to 'フォロワー', followers_user_user_path(current_user.id), method: :delete, class: "btn-danger", style: "margin-left: 5px; margin-top: 33px;" %>
		</div>
		<br>
		  <p class="navbar-text navbar-right">
		    <%= current_user.name %>さんのマイページです。
		  </p>
	</div>
<% end %>


<h4>プロフィール</h4>
<p>プロフィール画像</p><%= attachment_image_tag @user, :image, format: 'jpeg',fallback: "no_image.jpg", size: "100x100" %>
<p>アカウント名</p><%= @user.name %>
<p>メールアドレス</p><%= @user.email %>
<p>都道府県</p><%= @user.prefectures %>
<% if current_user != @user %>
    <!--%= link_to "通報する", user_user_user_reports_path(@user.id),method: :post %-->
    <% if @user.followed_by?(current_user) %>
      <%= link_to "フォロー済み", user_user_relationships_path(@user.id),method: :delete %>
    <% else %>
      <%= link_to "フォローする", user_user_relationships_path(@user.id),method: :post %>
    <% end %>
<% end %>

<h4>MY CAT</h4>
<% @user.cats.each.with_index(1) do |cat, i| %>
	<p>にゃんこ<%= i %></p><%= cat.name %>
	<p>血液型</p><%= cat.condition_blood_type %>
	<p>ステータス</p><%= cat.status %>
	<p>種類</p><%= cat.condition_breed %>
	<p>期間</p><%= cat.term %>
	<p>note</p><%= cat.note %>
<% end %>

<% if @user.cats.empty? %>
    <%= link_to 'MY CAT 新規登録', new_user_cat_path(current_user.id), class: "btn-warning" %>
<% end %>

<% if @user.id == current_user.id %>
    <%= link_to 'プロフィール/MY CAT編集', edit_user_user_path(current_user.id), class: "btn-warning" %>
  <% end %>
