<section class="container">
  <table class="table table-responsive">
    <tbody>
      <section class="container-index">
        <div class="row">
          <h1>投稿一覧</h1>
        <div class="row">
          <% @posts.each do |post| %>
          <tr>
          	<td><%= attachment_image_tag post.user, :image, :fill, 50, 50, format:'jpeg', fallback: "no_image.jpeg", size:'50×50' %> </td>
            <td><%= link_to post.user.name, user_user_path(post.user.id) %></td>
            <td><%= link_to post.body, user_post_path(post.id) %></td>
              <% post.post_images.each do |post_image| %>
                <td><%= attachment_image_tag post_image, :image, :fill, 50, 50, format:'jpeg' , fallback: "no_image.jpeg", size:'50×50' %> </td>
              <% end %>
            <td><%= "#{post.comments.count} コメント" %><%=  "#{post.favorites.count}いいね！" %></td>
          </tr>
            <div class="post-favorite-<%= post.id %>">
            <td><%= render 'user/favorites/favorite', post: post %></td>
            </div>
          <% end %>
    </tbody>
  </table>
  </div>
</section>
