<div class="index_background">
    <div class="container">
        <div class="row">
            <div class="col-4">
                <% if admin_signed_in? %>
                    <div class="sidebar">
                        <h3>管理者の為、ユーザー情報は表示できません。</h3>
                    </div>
                <% else %>
                    <% if user_signed_in? %>
                        <div class="sidebar">
                            <h3>プロフィール</h3>
                                <table>
                                    <tr>
                                        <td>アカウント</td>
                                        <td><%= attachment_image_tag current_user, :image, format: 'jpeg',fallback: "no_image.jpg", size: "100x100" %><br><%= current_user.name %></td>
                                    </tr>
                                    <tr>
                                        <td>メールアドレス</td><td><%= current_user.email %></td>
                                    </tr>
                                    <tr>
                                        <td>お住まい地域</td><td><%= current_user.prefectures %></td>
                                    </tr>
                                    <tr>
                                        <td>お住まい市町村</td><td><%= current_user.cities %></td>
                                    </tr>
                                    <tr>
                                        <td colspan="3">自己紹介文<br><%= current_user.introduce %></td>
                                    </tr>
                                </table>
                        </div>
                        <button type="button" class="btn btn-primary rounded-pill btn-block" data-toggle="modal" data-target="#postModal">
                          新規投稿
                        </button>
                        <!-- モーダルの設定 -->
                        <div class="modal fade" id="postModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">新規投稿する</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="閉じる">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                    </div>
                                    <div class="modal-body">
                                        <p>
                                            <%= form_for(@post,url: user_posts_path, method: :post) do |f| %>
                                                <%= f.text_area :body %>
                                                <%= f.attachment_field :post_images_images, multiple: true %>
                                                <%= f.submit '投稿する' %>
                                            <% end %>
                                        </p>
                                    </div>
                                </div><!-- /.modal-content -->
                            </div><!-- /.modal-dialog -->
                        </div><!-- /.modal -->
                    <% else %>
                        <div class="sidebar">
                            <h3>サインイン後に、ユーザー情報が表示できます。</h3>
                        </div>
                    <% end %>
                <% end %>
            </div>
            <div class="col-8 index-box">
                <h1>投稿一覧</h1>
                    <table>
                        <% @posts.each do |post| %>
                                <tr>
                                    <td>
                                        <%= attachment_image_tag post.user, :image, :fill, 60, 60, format:'jpeg', fallback: "no_image.jpg", size:'50×50',class:"rounded-circle" %><br>
                                        <%= link_to post.user.name, user_user_path(post.user.id) %>
                                    </td>
                                    <td class="td-post-body">
                                        <%= link_to post.body, user_post_path(post.id) %>
                                    <br>
                                        <% post.post_images.each do |post_image| %>
                                            <%= attachment_image_tag post_image, :image, :fill, 100, 100, format:'jpeg' , fallback: "no_image.jpg", size:'50×50' %>
                                        <% end %>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="3">
                                        <%= post.created_at.strftime('%Y/%m/%d') %>
                                        <%= link_to user_post_path(post.id) do %>
                                            <i class="fa fa-commenting-o" aria-hidden="true"><%= "#{post.comments.count} " %></i>
                                        <% end %>
                                        <i class="post-favorite-<%= post.id %>">
                                            <%= render 'user/favorites/favorite', post: post %>
                                        </i>
                                        <% if post.user == current_user %>
                                            <%= link_to '削除',user_posts_hide_path(post),method: :put %>
                                        <% end %>
                                    </td>
                                </tr>
                        <% end %>
                    </table>
              </div>
        </div>
    </div>
</div>