<section class="container">
  <tbody>
    <table class="table table-responsive">
      <h1>投稿詳細</h1>
      <tr>
      	<td><%= attachment_image_tag @post.user, :image, :fill, 50, 50, format:'jpeg', fallback: "no_image.jpeg", size:'50×50' %> </td>
        <td><%= link_to @post.user.name, user_user_path(@post.user.id) %></td>
        <td><%= @post.body %></td>
      </tr>
      <tr>
        <div class="post-favorite-<%= @post.id %>">
          <td><%= render 'user/favorites/favorite', post: @post %></td>
        </div>
          <td>
            <i class="fa fa-commenting-o" aria-hidden="true"><%= "#{@post.comments.count}" %></i></td>
          <td><%= link_to "通報",new_user_post_post_report_path(@post),class: "far fa-flag" %>
              <%= link_to user_posts_hide_path(@post), method: :put do %>
                <i class="fas fa-trash-alt" style= "margin: left;"></i>
              <% end %>
          </td>
      </tr>
    </table>


    <table class="table table-responsive">

      <% @post.comments.each do |comment| %>
        <% if comment.is_deleted == nil %>
        <tr>
          <td>
            <br>
              <%= attachment_image_tag @user, :profile_image, :fill, 50, 50, format:'jpeg', fallback: "no_image.jpeg" %>
            </br>
            <%= comment.user.name %>
          </td>
          <td>
            <br>
              <%= comment.created_at.strftime('%Y/%m/%d') %>
            </br>
            <%= comment.comment %>
          </td>
          <td>
            <% if comment.user == current_user %>
            <%= link_to "削除", user_comments_hide_path(comment.id), method: :put, "data-confirm" =>"本当に消しますか?" ,class: "btn btn-sm btn-link pull-right" %>
            <% end %>
          </td>
        </tr>
        <% end %>
      <% end %>
    </table>
      <table class="table table-responsive">
        <h4>コメント</h4>
        <%= form_for @comment, url: user_post_comments_path(@post) do |f| %>
        <%= f.text_field :comment,class: "col-xs-12", placeholder: "コメントをここに" %>
        <%= f.submit "送信する", class: "btn btn-sm btn-primary mt-20 pull-right" %>
        <% end %>
      </table>
      
  </tbody>
</section>