<h1>User::Reminders#index</h1>
<% content_for :mypage do %>
  <nav>
	<ul class="nav navbar-nav navbar-right">
	<li>
	  <%= link_to '新規投稿する', new_user_post_path, class: "btn-primary", style: "margin-left: 20px; margin-top: 33px;" %>
	</li>
	<li>
	  <%= link_to '自分のいいね', user_favorites_path, class: "btn-info", style: "margin-left: 5px; margin-top: 33px;" %>
	</li>
	<li>
	  <%= link_to 'にゃんこメモ', user_user_reminders_path(current_user.id), class: "btn-warning", style: "margin-left: 5px; margin-top: 33px;" %>
	</li>
	<li>
	<%= link_to "フォロー", root_path, class: "btn-success", style: "margin-left: 5px; margin-top: 33px;" %>
	</li>
	<li>
	  <%= link_to 'フォロワー', root_path, method: :delete, class: "btn-danger", style: "margin-left: 5px; margin-top: 33px;" %>
	</li>
	<br>
	  <p class="navbar-text navbar-right">
	    <%= current_user.name %>さんのマイページです。
	  </p>
	</ul>
	</nav>
<% end %>
