<table class="table table-responsive">
	<tr>
		<td>お名前</td>
		<td><%= cat.name %></td>
	</tr>
	<tr>
		<td>血液型</td>
		<td><%= cat.blood_type %></td>
	</tr>
	<tr>
		<td>ステータス</td>
		<td><%= cat.status %></td>
	</tr>
	<tr>
		<td>種類</td>
		<td><%= cat.breed %></td>
	</tr>
	<tr>
		<td>期間</td>
		<td><%= cat.term %></td>
	</tr>
	<tr>
		<td>note</td>
		<td><%= cat.note %></td>
	</tr>
</table>