<% if flash.now[:alart] %>
	<div class="alert alert-danger">
		<%= flash.now[:alart] %>
	</div>
<% end %>
<%= render 'user/cats/error_messages', cat: @cat %>
<div class="cat-info">
	<h3>MY CAT 編集</h3>
  	<div class="container">
		<%= form_for @cat,url:user_cat_path(@cat),method: :patch do |f|%>
	  		<div class="row">
				<div class="col-5">
							<div class="cat-profile-edit">
			  						<p>プロフィール画像</p>
			  							<% @cat.cat_images.each do |cat_image| %>
											<%= attachment_image_tag cat_image, :image, :fill, 100, 100, format:'jpeg' , size:'50×50', class: "cat_image", fallback: "no_image.jpg" %>
			                            <% end %>
			  							<%= f.attachment_field :cat_images_images,multiple: true %>
			  						<p>猫の名前</p><%= f.text_field :name %>
			  						<p>性別</p>
				  						<%= f.radio_button :sex, :オス,:checked => true %>
			                  					<%= f.label :オス %>
			                  			<%= f.radio_button :sex, :オス去勢済み %>
			                  					<%= f.label :オス去勢済み %>
			                  			<%= f.radio_button :sex, :メス %>
			                  					<%= f.label :メス %>
			                  			<%= f.radio_button :sex, :メス避妊済み %>
			                  					<%= f.label :メス避妊済み %>
		                  			<p>種類</p>
		                  				<%= f.select :breed, [["MIX キジトラ"],["MIX サバトラ"],["MIX 茶トラ"],["MIX 黒"],["MIX グレー"],["MIX 白"],["MIX 黒白"],["MIX 茶白"],["MIX サビ"],["MIX ミケ"],["アビシニアン"],["アメリカンカール・ショートヘア"],["アメリカンショートヘア"],["アメリカンワイヤーヘア"],["エキゾチックショートヘア"],["エジプシャンマウ"],["オシキャット"],["オリエンタルショートヘア"],["キムリック"],["コーニッシュレックス"],["コラット"],["サイベリアン"],["ジャパニーズ・ボブテイル"],["シャム"],["シャルトリュー"],["シンガプーラ"],["スクーカム"],["スコティッシュフォールド"],["スコティッシュフォールド・ロングヘア"],["スフィンクス"],["セルカークレックス"],["ソマリ"],["ターキッシュアンゴラ"],["ターキッシュバン"],["デボンレックス"],["トンキニーズ"],["ノルウェージャンフォレストキャット"],["バーマン"],["バーミーズ"],["ハバナブラウン"],["バリニーズ"],["ヒマラヤン"],["ブリティッシュショートヘア"],["ペルシャ"],["ベンガル"],["ボンベイ"],["マンクス"],["マンチカール"],["マンチカン"],["マンチカン・ロングヘア"],["メインクーン"],["ラガマフィン"],["ラグドール"],["ラパーム"],["ロシアンブルー"],["その他の猫種"]]  %>
		                  			<p>年齢</p>
		                  				<%= f.select :age, [["1ヶ月未満"],["1~3ヶ月"],["4~6ヶ月"],["7~12ヶ月"],["1~2歳"],["2~3歳"],["4~7歳"],["8~10歳"],["11歳以上"]]  %>
		                  			<p>体重</p>
		                  				<%= f.text_field :weight , class: "form-control" %>
		                  			<p>血液型</p>
		                  				<%= f.select :blood_type, Cat.blood_types.keys, {prompt: '選択してください'}, class: 'btn btn-default form-control'%>
		                  			<p>飼い始めた経緯</p>
		                  				<%= f.text_area :story, class: "form-control"  %>
		  					</div>
		  		</div>
	  				<!-- </div> -->
	  			<div class="col-7">
					<!-- <div class="row"> -->
						<div class="cat-message-edit">
							<div><p>利用目的</p>
								<%= f.radio_button :purpose, :供血を希望している,:checked => true %>
		          					<%= f.label :供血を希望している %>
		          				<%= f.radio_button :purpose, :輸血を希望している %>
		          					<%= f.label :輸血を希望している %>
		          				<%= f.radio_button :purpose, :どちらも希望しない %>
		          					<%= f.label :どちらも希望しない %>
		          			</div>
			          		<div><p>希望日時</p>
			          			<%= f.text_area :date, placeholder: '土日のみ可能、平日可能、曜日指定、指定しない など', class: "form-control" %>
			          		</div>
			          		<div><p>希望エリア</p>
			          			<%= f.text_area :area, placeholder:'近郊希望、他県OK、〜㎞以内、指定しない など', class: "form-control" %>
			          		</div>
			          		<div><p>期間</p>
			          			<%= f.select :term, [["指定なし"],["1~4日以内"],["1週間以内"],["2~3週間以内"],["1ヶ月以内"],["2~3ヶ月以内"],["半年以内"],["1年以内"],["その他"]] %>
			          		</div>
			          		<div><p>備考</p>
			        			<%= f.text_area :note, class: "form-control" %>
			        		</div>
			          		<div><p>ステータス</p>
			          			<%= f.select :status, Cat.statuses.keys.to_a, {prompt: '選択してください'}, class: 'form-control btn btn-default' %>
			          		</div>
			          	</div>
						<%= f.submit '編集内容を更新する' ,class: "btn btn-outline-warning btn-lg" %>
		            	<%= link_to '戻る',user_user_path(@cat.user.id) ,class: "btn btn-outline-primary"%>
		            	<%= link_to '削除' ,user_user_path(@cat.user.id),method: :delete, "data-confirm" =>"本当に消しますか?" ,class: "btn btn-outline-danger" %>

				</div>
			</div>
		<% end %>
    </div>
</div>