<div class= "container">
	<% @users.each do |user| %>
	<div class = "user-profile">
	    <img><%= attachment_image_tag user, :image, :fill, 50, 50, format:'jpeg', fallback:"no_image.jpg" %></img>
		<span>飼い主さん<%= link_to user.name, user_user_path(user.id) %></span>
		<span>お住まい地域<%= user.prefectures %><%= user.cities %></span>
		<% user.cats.each.with_index(1) do |cat, i| %>
		<% if cat.sex == "オス" and cat.sex =="オス去勢済み" %>
		  <div class = "cat-profile_mens">
			<p>にゃんこ<%= i %></p>
		    <p>おなまえ:<%= cat.name %></p>
			<p>血液型<%= cat.condition_blood_type %></p>
			<p>ステータス<%= cat.status %></p>
			<p>種類<%= cat.condition_breed %></p>
			<p>期間<%= cat.term %></p>
			<div class ="note">
			  <span class="note-title">note</span>
			  <p><%= cat.note %></p>
		    </div>
          </div>
        <% else %>
          <div class = "cat-profile_ledis">
			<p>にゃんこ<%= i %></p>
		    <p>おなまえ:<%= cat.name %></p>
			<p>血液型<%= cat.condition_blood_type %></p>
			<p>ステータス<%= cat.status %></p>
			<p>種類<%= cat.condition_breed %></p>
			<p>期間<%= cat.term %></p>
			<div class ="note">
			  <span class="note-title">note</span>
			  <p><%= cat.note %></p>
		    </div>
          </div>
          <% end %>
		<% end %>
	</div>
    <% end %>
</div>