<div class= "container">
	<% if @cats_purpose != [] %>
		<% @cats_purpose.each.with_index(1) do |cat, i| %>
			<div class = "user-profile">
				<table class="table table-responsive">
					<tr>
						<td>プロフィール画像</td>
						<td>アカウント名</td>
						<td><%= link_to cat.user.name, user_user_path(cat.user.id) %></td>
						<td>都道府県</td>
						<td><%= cat.user.prefectures %></td>
						<td>地域</td>
						<td><%= cat.user.cities %></td>
					</tr>
					<tr>
						<td rowspan="2"><%= attachment_image_tag cat.user, :image, format: 'jpeg',fallback: "no_image.jpg", size: "100x100" %></td>
						<td>メールアドレス</td>
						<td><%= cat.user.email %></td>
					</tr>
					<tr>
						<td>自己紹介文</td>
						<td colspan="6"><%= cat.user.introduce %></td>
					</tr>
				</table>
					<% if cat.sex == "オス" or cat.sex =="オス去勢済み" %>
					  	<div class = "cat-profile_mens">
							<table class="table table-responsive">
								<tr>
									<td>NO.<%= i %></td>
								</tr>
								<tr>
									<td>お名前</td>
									<td><%= cat.name %></td>
									<td>種類</td>
									<td><%= cat.breed %></td>
								</tr>
								<tr>
									<td>血液型</td>
									<td><%= cat.blood_type %></td>
								</tr>
								<tr>
									<td>ステータス</td>
									<td><%= cat.status %></td>
								</tr>
								<tr>
									<td>期間</td>
									<td><%= cat.term %></td>
								</tr>
								<tr>
									<td colspan="3">note<br><%= cat.note %></td>
								</tr>
							</table>
				      	</div>
				    <% else %>
				      	<div class = "cat-profile_ledis">
							<table class="table table-responsive">
								<tr>
									<td>NO.<%= i %></td>
								</tr>
								<tr>
									<td>お名前</td>
									<td><%= cat.name %></td>
								</tr>
								<tr>
									<td>血液型</td>
									<td><%= cat.blood_type %></td>
								</tr>
								<tr>
									<td>ステータス</td>
									<td><%= cat.status %></td>
								</tr>
								<tr>
									<td>種類</td>
									<td><%= cat.breed %></td>
								</tr>
								<tr>
									<td>期間</td>
									<td><%= cat.term %></td>
								</tr>
								<tr>
									<td>note</td>
									<td><%= cat.note %></td>
								</tr>
							</table>
				      	</div>
				    <% end %>
			</div>
		<% end %>
	<% else %>
		<p class="text-center">現在、登録されているにゃんこはいません。</p>
	<% end %>
</div>