<section class="container">
<% content_for :mypage do %>
  <nav class="nav navbar-nav navbar-left">
    <a href="/" class="btn-circle-fishy">cattalk</a>
  </nav>
	<div class="nav navbar-right">
		<div>
		  <%= link_to '新規投稿する', new_user_post_path, class: "btn-primary", style: "margin-left: 20px; margin-top: 33px;" %>
		</div>
		<div>
		  <%= link_to 'ねこ新規登録', new_user_cat_path(current_user.id), class: "btn-dark", style: "margin-left: 20px; margin-top: 33px;" %>
		</div>
		<div>
		  <%= link_to '自分のいいね', user_favorites_path, class: "btn-info", style: "margin-left: 5px; margin-top: 33px;" %>
		</div>
		<div>
		  <%= link_to 'にゃんこメモ', user_user_reminders_path(current_user.id), class: "btn-warning", style: "margin-left: 5px; margin-top: 33px;" %>
		</div>
		<div>
		  <%= link_to "フォロー", follows_user_user_path(current_user.id), class: "btn-success", style: "margin-left: 5px; margin-top: 33px;" %>
		</div>
		<div>
		   <%= link_to 'フォロワー', followers_user_user_path(current_user.id), class: "btn-danger", style: "margin-left: 5px; margin-top: 33px;" %>
		</div>
		<br>
		  <p class="navbar-text navbar-right">
		    <%= current_user.name %>さんのマイページです。
		  </p>
	</div>
<% end %>

<h1>ネコ新規登録</h1>
<%= form_for(@cat, url: user_cats_path(current_user.id), method: :post) do |f| %>
	<p>プロフィール画像</p><%= f.attachment_field :cat_images_images,multiple: true %>
	<p>猫の名前</p><%= f.text_field :name %>
	<p>性別</p><%= f.text_field :sex %>
	<p>種類</p><%= f.text_field :breed %>
	<p>年齢</p><!--%= f.text_field :age %--><%= f.select :age, Cat.ages.keys.to_a, {prompt: '選択してください'}, class: 'form-control btn btn-info' %>
	<p>体重</p><%= f.text_field :weight %>
	<p>血液型</p><%= f.text_field :blood_type %>
	<p>飼い始めた経緯</p><%= f.text_field :story %>
	<p>利用目的</p><%= f.text_field :purpose %>
	<p>希望条件</p>
	<p>性別</p><%= f.text_field :condition_sex %>
	<p>種類</p><%= f.text_field :condition_breed %>
	<p>年齢</p><%= f.text_field :condition_age %>
	<p>血液型</p><%= f.text_field :condition_blood_type %>
	<p>体重</p><%= f.text_field :condition_weight %>
	<p>期間</p><%= f.text_field :term %>
	<p>備考</p><%= f.text_field :note %>
	<p>ステータス</p><%= f.text_field :status %>
	<%= f.submit '登録する' %>
<% end %>
</section>