<!DOCTYPE html>
<html>
  <head>
    <title>Cattalk</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/a9f880f2b4.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <header>
      <!--% if yield(:mypage).empty? %-->
          <% if admin_signed_in? %>
            <div id="nav-drawer">
              <input id="nav-input" type="checkbox" class="nav-unshown">
              <label id="nav-open" for="nav-input"><span></span></label>
              <label class="nav-unshown" id="nav-close" for="nav-input"></label>
              <div id="nav-content">
                <ul>
                    <li class="fas fa-cat"><%= link_to '全ユーザー一覧', admin_users_path %></li>
                    <li class="fas fa-cat"><%= link_to '通報ユーザー一覧', admin_user_reports_path %></li>
                    <li class="fas fa-cat"><%= link_to '通報投稿一覧', admin_post_reports_path %></li>
                    <li class="fas fa-cat"><%= link_to '全DMルーム', admin_rooms_path %></li>
                    <li class="fas fa-cat"><%= link_to 'ログアウト', destroy_admin_session_path, method: :delete %></li>
                </ul>
              </div>
            </div>
            <p class="navbar-text navbar-right">
              管理者としてログインしています
            </p>

          <% elsif user_signed_in? %>
            <div id="nav-drawer">
              <input id="nav-input" type="checkbox" class="nav-unshown">
              <label id="nav-open" for="nav-input"><span></span></label>
              <label class="nav-unshown" id="nav-close" for="nav-input"></label>
              <div id="nav-content">
                <ul>
                    <li class="fas fa-cat"><%= link_to 'ホーム', user_posts_path %></li>
                    <li class="fas fa-cat"><%= link_to 'マイページ', user_user_path(current_user.id) %></li>
                    <li class="fas fa-cat"><%= link_to 'にゃんこメモ', user_reminders_path %></li>
                    <li class="fas fa-cat"><%= link_to 'DM一覧', user_rooms_path %></li>
                    <li class="fas fa-cat"><%= link_to '自分のいいね', user_favorites_path %></li>
                    <li class="fas fa-cat"><%= link_to "フォロー", follows_user_user_path(current_user.id)%></li>
                    <li class="fas fa-cat"><%= link_to 'フォロワー', followers_user_user_path(current_user.id) %></li>
                    <li class="fas fa-cat"><%= link_to '供血希望にゃんこ', user_cats_path(sort: 0) %></li>
                    <li class="fas fa-cat"><%= link_to "輸血希望にゃんこ", user_cats_path(sort: 1) %></li>
                    <li class="fas fa-cat"><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
                </ul>
              </div>
            </div>
                  <p class="navbar-text navbar-right">
                    ようこそ　<%= current_user.name %>さん。
                  </p>
          <% else %>
            <div id="nav-drawer">
              <input id="nav-input" type="checkbox" class="nav-unshown">
              <label id="nav-open" for="nav-input"><span></span></label>
              <label class="nav-unshown" id="nav-close" for="nav-input"></label>
              <div id="nav-content">
                <ul>
                    <li class="fas fa-cat"><%= link_to "アバウト", user_homes_about_path %></li>
                    <li class="fas fa-cat"><%= link_to "サインアップ", new_user_registration_path %></li>
                    <li class="fas fa-cat"><%= link_to "ログイン", new_user_session_path %></li>
                </ul>
              </div>
            </div>
                  <p class="navbar-text navbar-right">
                    ようこそ　ゲストさん。
                  </p>
          <% end %>
      <!--% else %-->
        <!--%= yield(:mypage) %-->
      <!--% end %-->

    </header>
    <%= yield %>
    <footer class="footer", style="height: 80px; line-height: 80px; font-size: 20px;">
        <p class="nav navbar-nav navbar-right", style="color:black">© All rights reserved by cattalk.Inc.</p>
    </footer>
  </body>
</html>
